<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title></title>
        <!-- The line above tells Django to be ready to listen for static files-->
       
        <!-- Put the static files in the static folder inside your app. Django collects files within all static folders and puts them within a single folder -->
    </head>
    <body>
        <div class="line">
                <br><br>
                Random : {{ unique_id }}
                <br><br>
                attempts : {{request.session.counter}}
                
    </body>
</html>